.body {
  background-image: linear-gradient(#f5f5fa, #f2dad5, #a0abd6);
  padding: 16px;
  height: auto;
  min-width: 320px;

  @include onDesktop {
    padding: 32px 50px 69px 53px;
  }

  @include largeScreen {
    height: 100vh;
  }
}
