.button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 38px;
  background: $main-light;
  border-radius: 25px;
  cursor: pointer;

  @include onDesktop {
    display: flex;
  }

  @include onTablet {
    display: flex;
  }

  &:hover {
    @include button-hover;
  }

  &__link {
    @include button-link-upper-noStyling;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
}
