.checkmark {
  margin-top: 15px;

  &__point {
    list-style-type: none;
    font-size: 15px;
    margin-bottom: 9px;
    padding: 0 0 0 2.1em;
    position: relative;
    color: $info-text;

    &:before {
      content: " ";
      display: block;
      border: solid 0.75em rgba(82, 67, 194, 0.15);
      border-radius: 0.75em;
      height: 0;
      width: 0;
      position: absolute;
      left: 0;
      top: 40%;
      margin-top: -0.5em;
    }

    &:after {
      content: " ";
      display: block;
      width: 0.25em;
      height: 0.5em;
      border: solid $checkpoint-color;
      border-width: 0 0.15em 0.15em 0;
      left: 0.55em;
      position: absolute;
      top: 40%;
      margin-top: -0.2em;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &--popular {
      color: $c-white;
      &:before {
        border: solid 0.75em rgba(255, 255, 255, 0.15);
      }
      &::after {
        border-color: $c-white;
      }
    }
  }

  &--popular {
    @include onDesktop {
      margin-bottom: 85px;
    }
  }
}
