.logo {
  &__container {
    @include flex-AlignItems-center;
  }

  &__picture {
    width: 22.58px;
    height: 30px;
  }

  &__text {
    width: 104.68px;
    height: 19.85px;
    margin-left: 10px;
  }
}
