.can-toggle {

  @include can-toggle-branding;
  @include can-toggle-appearance;
  position: relative;

  &__check {
    @include flexSettings;
    align-items: center;
    height: 44px;
    margin-bottom: 32px;
  }

  &__container {
    width: 220px;
    margin-bottom: 32px;
  }


  *,
  *:before,
  *:after {
    box-sizing: border-box;
    cursor: pointer;
  }

  label {
    user-select: none;
    @include flex-AlignItems-center;

    .can-toggle__label-text {
      flex: 1;
    }

    .can-toggle__switch {
      position: relative;

      &:before {
        content: attr(data-checked);
        @include can-toggle-switch-styling;
      }

      &:after {
        content: attr(data-unchecked);
        @include can-toggle-switch-styling;
        z-index: 5;
        background: $main-light;
        transform: translate3d(0,0,0);
        box-shadow: 0 6px 12px rgba(82, 67, 194, 0.16);
      }

      &:hover::after{
          @include button-hover;
      }
    }
  }

  input[type="checkbox"] {
    opacity: 0;

    &[disabled] ~ label {
      pointer-events: none;
      .can-toggle__switch {
        opacity: 0.4;
      }
    }

    &:checked {
      ~ label {
        .can-toggle__switch {

          &:before {
            content: attr(data-unchecked);
            left: 0;
          }

          &:after {
            content: attr(data-checked);
          }
        }
      }
    }
  }
}
